body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
/*
 footer and header background-color {  
    font-style
}*/

header, footer {
    background-color: lightblue;
}

#my-image {
  box-shadow: 0 0 2px 1px black;
}