body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
/*
 footer and header background-color {  
    font-style
}*/

header, footer {
    background-color: lightblue;
}

section {
    font-family: Arial, Helvetica, sans-serif;
}

.local {
    font-family:'Courier New', Courier, monospace;
}

#unique {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    /* color: green; */
}

/* .LVHA */
a:link {
    text-decoration: ;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
}

li { 
    font-weight: bold;
}
 
